.App {
  text-align: center;
}

.navbar-custom {
  background-color: #1e90ff; /* Deep sky blue */
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: #fff;
}

.navbar-custom .nav-link:hover {
  color: #f0f8ff; /* AliceBlue */
}